.homeInput{
    width: 500px !important;
}

.homeInput input{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.homeInput button{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: #FF6F61;
    border: none;
}

.homeInput button span{
    font-family: 'Corbert Bold';
    font-size: 20px;
}

.homeInput button:hover{
    background: #FF6F61;
}

.homeInput .ant-input-group-addon{
    background-color: unset !important;
}

#input-subtitle{
    font-size: 16px;
    margin-top: 5px !important;
    font-family: 'Corbert' !important;
}