.select-list-item {
  border: 1px solid #ebebeb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.select-list-item-delete-icon {
  color: #ff6f61;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
}

.select-list-item-text {
  margin: 0;
  font-size: 15px;
}
