.calendar-date-picker {
  width: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  border-radius: 100% !important;
  background: #ff6f61 !important;
  font-family: "Corbert Bold" !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: none !important;
}
