.table-data{
    min-height: 50vh;
    padding-left: 10px;
    padding-right: 10px;
}

.table-data-row{
    margin-top: 50px;
}

.table{
    width: 100%;
}

.table tr td{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-title{
    margin-left: 10px;
    padding-top: 10px;
}

.column-title{
    font-family: 'Corbert Bold';
}

#no-results-text{
    padding-bottom: 20px;
}

th{
    text-align: center !important;
}

.table-body-data{
    max-height: 600px;
    overflow: scroll;
}

.table thead tr{
    border-bottom: 1px solid #C4C0B6 !important;
}
