@font-face {
    font-family: "Corbert";
    src: url("../../lib/fonts/Corbert-Regular.ttf");
}

@font-face {
    font-family: "Corbert Bold";
    src: url("../../lib/fonts/Corbert-Bold.otf");
}

@font-face {
    font-family: "Corbert Thin";
    src: url("../../lib/fonts/Corbert-Thin.otf");
}

@font-face {
    font-family: "Corbert Heavy";
    src: url("../../lib/fonts/Corbert-Heavy.otf");
}

@font-face {
    font-family: "Granic Slab Bold";
    src: url("../../lib/fonts/Granic-Slab-Bold.otf");
}

*{
    font-family: "Corbert";
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heavy-font{
    font-family: "Corbert Heavy";
}

.bold{
    font-family: "Corbert Bold";
}

body{
    margin: 0
}

a{
    color: #4A4843 !important;
    text-decoration: none;
}

a:hover{
    text-decoration: underline !important;
}

button{
    cursor: pointer;
}

h1, h2{
    color: #4A4843 !important;
}

.underline{
    text-decoration: underline;
}

.heavy-title{
    font-size: 30px;
    font-family: 'Corbert Heavy' !important;
    color: #4A4843 !important;
}

span,p {
    color: #707070
}

.content-container {
    background: #F2F2F2;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-container-title {
    color: #4A4843;
    font-family: 'Corbert Bold';
    font-size: 30px;
    margin-bottom: 10px;
}

.scroll-content-container{
    overflow: scroll;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}