@font-face {
    font-family: "Corbert";
    src: url("../../lib/fonts/Corbert-Regular.ttf");
}

@font-face {
    font-family: "Corbert Bold";
    src: url("../../lib/fonts/Corbert-Bold.otf");
}

@font-face {
    font-family: "Corbert Thin";
    src: url("../../lib/fonts/Corbert-Thin.otf");
}

@font-face {
    font-family: "Corbert Heavy";
    src: url("../../lib/fonts/Corbert-Heavy.otf");
}

@font-face {
    font-family: "Granic Slab Bold";
    src: url("../../lib/fonts/Granic-Slab-Bold.otf");
}

*{
    font-family: "Corbert";
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heavy-font{
    font-family: "Corbert Heavy";
}

.bold{
    font-family: "Corbert Bold";
}

body{
    margin: 0
}

a{
    color: #4A4843 !important;
    text-decoration: none;
}

a:hover{
    text-decoration: underline !important;
}

button{
    cursor: pointer;
}

h1, h2{
    color: #4A4843 !important;
}

.underline{
    text-decoration: underline;
}

.heavy-title{
    font-size: 30px;
    font-family: 'Corbert Heavy' !important;
    color: #4A4843 !important;
}

span,p {
    color: #707070
}

.content-container {
    background: #F2F2F2;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-container.min-height{
    min-height: 420px;
}

.content-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.content-container-title {
    color: #4A4843;
    font-family: 'Corbert Bold';
    font-size: 1.8em;
    margin-bottom: 0;
}

.content-container-subtitle {
    color: #4A4843;
    font-family: 'Corbert Thin';
    font-size: 1.4em;
    margin-bottom: 1.4em;
}

.content-container-icon{
    width: 25px !important;
    height: 25px !important;
    color: #FF6F61;
    cursor: pointer;
}

.scroll-content-container{
    overflow: scroll;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.icon-normal{
    cursor: pointer;
    color: #C4C0B6;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.icon-normal:hover{
    color: #8f8c84;
}