.homeInputButton {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: #ff6f61;
  border: none;
  height: 40px;
}

.homeInputButton {
  font-family: "Corbert Bold";
  font-size: 20px;
  color: #ffffff;
}

.homeInputButton:hover {
  background: #ff6f61;
}
